faster-whisper
sounddevice
scipy
requests
numpy==1.26.4 # Neede this for openwakeword
piper-tts
onnxruntime
simpleaudio
torch==2.11.0 
torchvision==0.26.0 
torchaudio==2.11.0
silero-vad
soundfile
openwakeword